.header {
  height: 120px;
  border-bottom: 1px solid lightgray;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 50px;
}

.input-search {
  position: relative;
  display: flex;
}
.input-search > input {
  width: 500px;
  height: 40px;
  background-color: #f5f6f7;
  border: none;
  border-radius: 10px;
  outline: none;
  padding-left: 40px;
}

.icon-loop {
  width: 20px;
  position: absolute;
  top: 12px;
  left: 7px;
  color: #bbb;
}

.header-picture {
  height: 30px;
}

.header-button {
  display: flex;
}

.loader {
  display: flex;
  justify-content: center;
}

.button-connexion {
  margin-right: 10px;
}

.button-connexion button {
  background-color: white;
  font-weight: bold;
  border: 1px solid #49afb7;
  color: #49afb7;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
}

.button-sale {
  background-color: #49afb7;
  border: 1px solid#49AFB7;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.block {
  height: 100%;
  display: flex;

  box-sizing: border-box;
  align-items: center;
  margin-bottom: 50px;
}

.block-background {
  position: relative;
}

.block-accroche {
  position: absolute;
  height: 200px;
  width: 300px;
  background-color: white;
  border-radius: 5px;
  margin: 30px;
  padding: 20px;
  box-sizing: border-box;
}

.block-accroche button {
  background-color: #49afb7;
  font-weight: bold;
  border: 1px solid #49afb7;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.images {
  height: 100%;
  width: 100%;
}
.images img {
  height: 420px;
  width: 100%;
  object-fit: cover;
}

.offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.offer-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 5px;
}

.offer-card img {
  object-fit: cover;
  height: 500px;
  width: 300px;
}

.offer-container {
  align-items: center;
  padding: 50px 20px;
  height: 100rem;
  background-color: rgb(231, 229, 229);
}
.offer {
  display: flex;
  justify-content: space-around;
}

.offer-text {
  width: 400px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0 50px;
  box-sizing: border-box;
  border-radius: 5px;
  justify-content: center;
}

.offer img {
  box-shadow: 5px 10px 20px grey;
  object-fit: cover;
}

/* Signup */

.container-signup {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.block-signup {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-signup > form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.block-checkbox {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}

.block-checkbox > p {
  font-size: 10px;
}

.button-signup {
  display: flex;
  flex-direction: column;
}

/* Login */

.container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.block-login {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-login > form {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.button-login {
  display: flex;

  flex-direction: column;
}
