/* HEADER */

.header {
  height: 100%;
  border-bottom: 1px solid lightgray;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 50px;
}

.filters {
  display: flex;
  flex-direction: column;
}
.input-search {
  position: relative;
  display: flex;
  margin-bottom: 30px;
}
.input-search > input {
  width: 500px;
  height: 40px;
  background-color: #f5f6f7;
  border: none;
  border-radius: 10px;
  outline: none;
  padding-left: 40px;
}

.icon-loop {
  width: 20px;
  position: absolute;
  top: 12px;
  left: 7px;
}

.filter-slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-aro;
}

.filter-slider > span {
  font-size: 10px;
  margin: 0 10px;
}

.header-picture {
  height: 30px;
}

.header-button {
  display: flex;
}

.loader {
  display: flex;
  justify-content: center;
}

.button-connexion {
  margin-right: 10px;
}

.button-connexion button {
  background-color: white;
  font-weight: bold;
  border: 1px solid #49afb7;
  color: #49afb7;
  border-radius: 5px;
  padding: 6px;
  margin-left: 10px;
  cursor: pointer;
}

.button-connexion button:hover {
  background-color: #49afb7;
  border: 1px solid#49AFB7;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

/* HOME */

.block {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  margin-bottom: 50px;
}

.block-background {
  display: flex;
  height: 500px;
  width: 100%;
}

.block-accroche {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  height: auto;
  width: 400px;
  background-color: white;
  border-radius: 5px;
  margin: 30px;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px -8px grey;
  box-sizing: border-box;
}

.block-accroche h2 {
  font-size: 40px;
  line-height: 42.5px;
  font-weight: normal;
  margin: auto;
}

.block-accroche button {
  background-color: #49afb7;
  border: 1px solid #49afb7;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 40px 0 25px 0;
  cursor: pointer;
  font-size: 16px;
}

.images {
  position: relative;
  width: 100%;
  height: 100%;

  background-position: 50%;
  background-size: cover;
}

.images > img {
  position: absolute;
  height: 80px;
  bottom: 0;
  right: 0;
}

/* OFFERS */

.offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.offers-pages {
  display: flex;
  margin-left: 105px;
  margin-bottom: 10px;
}

.offer-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
}

.offer-card img {
  object-fit: cover;
  height: 500px;
  width: 300px;
}

.offer-container {
  align-items: center;
  padding: 50px 20px;
  height: 100rem;
  background-color: rgb(231, 229, 229);
}

.offer-container button {
  background-color: #49afb7;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  margin: 20px 0;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

.offer-container button:active {
  transform: scale(0.98);
  box-shadow: 5px 5px 10px -8px grey;
}

.offer {
  display: flex;
  justify-content: space-around;
}

.offer-text {
  width: 400px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0 50px;
  box-sizing: border-box;
  border-radius: 5px;
  justify-content: center;
}

.offer img {
  box-shadow: 5px 5px 10px -8px grey;
  object-fit: cover;
}

/* SIGNUP */

.container-signup {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.block-signup {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-signup > form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.block-checkbox {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}

.block-checkbox > p {
  font-size: 10px;
}

.button-signup {
  display: flex;
  flex-direction: column;
}

/* LOGIN */

.container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.block-login {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.login-form > input {
  border: none;
  border-bottom: solid 1px #fcced3;
  height: 30px;
  margin-bottom: 10px;
  outline: none;
  font-size: 20px;
}

.button-login {
  background-color: #49afb7;
  font-weight: bold;
  border: 1px solid #49afb7;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

/* SIGNUP */

.link-signup {
  color: #49afb7;
  font-size: 12px;
  margin-top: 8px;
  text-decoration: none;
}

.publish-form {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* PAYEMENT  */

.payement {
  display: flex;
  height: 100rem;
  justify-content: center;
  background-color: #ebedee;
}
.container-payement {
  padding: 20px;
  margin-top: 50px;
  display: flex;
  height: 300px;
  width: 500px;
  flex-direction: column;
  border-radius: 5px;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px -8px grey;
}

.order-detail {
  display: flex;
  flex-direction: column;
}

.order-detail > div {
  display: flex;
  justify-content: space-between;
}

.checkoutform {
  margin: 10px 0;
}

.checkoutform button {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  background-color: #49afb7;
  border: none;
  margin-top: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* TOGGLE */

.toggle .react-toggle-track {
  background-color: #49afb7;
}
.toggle.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #49afb7;
}
.toggle.react-toggle--checked .react-toggle-track {
  background-color: #49afb7;
}
.toggle.react-toggle--checked:hover:not(.react-toggle--disabled)
  .react-toggle-track {
  background-color: #49afb7;
}

/* SEARCH */

.icon-loop {
  color: #bbbbbb;
}

/* PUBLISH */

.publish-form h2 {
  margin-top: 40px;
  font-weight: normal;
}
.container-publish {
  background-color: #ebedee;
}

.publish-form {
  width: 1000px;
  margin: 0 auto;
}

.publish-file-select {
  background-color: #fff;
  padding: 30px;
  margin: 5px 0 20px 0;
  box-shadow: 5px 5px 10px -8px grey;
  border-radius: 10px;
  height: 200px;
}

.publish-preview {
  border: 1px dashed #ebedee;
  border-radius: 3px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article {
  display: flex;
  flex-direction: column;
}
.article-descritption,
.article-details,
.article-price {
  background-color: #fff;
  margin: 20px 0;
  box-shadow: 5px 5px 10px -8px grey;
  border-radius: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 15px;
  box-sizing: border-box;
}

.article-title-descritption {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid #ebedee;
}

.publish-form input {
  border-radius: 5px;
  padding: 3px 6px;
  margin: 0 3px 5px 0;
  border: none;
  font-size: 15px;
  width: 400px;
  text-overflow: ellipsis;
}

.article-button {
  display: flex;
  justify-content: flex-end;
}

.add-btn {
  background-color: #49afb7;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  margin: 20px 0;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

.add-btn:active {
  transform: scale(0.98);
  box-shadow: 5px 5px 10px -8px grey;
}

input[type="file"]::before {
  border: 2px solid #49afb7;
  border-radius: 5px;
  padding: 15px;
  font-size: 41.2px;
  content: "+ Ajoute une photo";
  display: inline-block;
  color: #49afb7;
  font-weight: bold;
  cursor: pointer;
}

textarea[type="textarea"] {
  width: 41.8%;
  height: 100px;
  resize: none;
  border: none;
  border-bottom: 0.1rem solid #ebedee;
  outline: none;
  font-size: 15px;
  font-family: inherit;
  color: #000;
}
