/* HEADER */

.header {
  min-height: 90px;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid white;
  position: fixed;
  background-color: white;
  top: 0;

  width: 100%;
  z-index: 10;
}

.header-content {
  display: flex;
  min-height: 80px;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
  background-color: white;
}

.filters {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.input-search {
  position: relative;
  display: flex;
}
.input-search > input {
  width: 500px;
  height: 40px;
  background-color: #f5f6f7;
  border: none;
  border-radius: 10px;
  outline: none;
  padding-left: 40px;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

.icon-loop {
  width: 20px;
  position: absolute;
  top: 12px;
  left: 7px;
}

.filter-slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 10px;
  justify-content: space-around;
  width: 480px;
}

.toggle-price,
.toggle-range {
  display: flex;
  font-size: 12px;
  align-items: center;
  width: 50%;
}

.toggle-price span,
.toggle-range span {
  margin-right: 10px;
}

.header-picture {
  height: 30px;
}

.header-button {
  display: flex;
}

.loader {
  display: flex;
  justify-content: center;
}

.button-connexion {
  margin-right: 10px;
}

.button-green {
  background-color: white;
  font-weight: bold;
  border: 1px solid #49afb7;
  color: #49afb7;
  border-radius: 5px;
  padding: 6px;
  margin-left: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

.button-green:hover {
  background-color: #49afb7;
  border: 1px solid #49afb7;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.button-red {
  background-color: white;
  font-weight: bold;
  border: 1px solid red;
  color: red;
  border-radius: 5px;
  padding: 6px;
  margin-left: 10px;
  cursor: pointer;
}

.button-red:hover {
  background-color: red;
  font-weight: bold;
  border: 1px solid red;
  color: white;
  border-radius: 5px;
  padding: 6px;
  margin-left: 10px;
  cursor: pointer;
}

/* HOME */

.block {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 123px;
}

.block-background {
  display: flex;
  height: 500px;
  width: 100%;
}

.block-accroche {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  height: auto;
  width: 400px;
  background-color: white;
  border-radius: 5px;
  margin: 30px;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px -8px grey;
  box-sizing: border-box;
}

.block-accroche h2 {
  font-size: 40px;
  line-height: 42.5px;
  font-weight: normal;
  margin: auto;
}

.block-accroche button {
  background-color: #49afb7;
  border: 1px solid #49afb7;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 40px 0 25px 0;
  cursor: pointer;
  font-size: 16px;
}

.images {
  position: relative;
  width: 100%;
  height: 100%;

  background-position: 50%;
  background-size: cover;
}

.images > img {
  position: absolute;
  height: 80px;
  bottom: 0;
  right: 0;
}

/* OFFERS */

.container-offers {
  width: 1280px;
  margin: 30px auto auto;
  display: flex;
}
.offers-pages {
  display: flex;
  margin: 10px;
  font-weight: bold;
}
.offers {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.offer-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 6px 16px;
  width: auto;
  margin: 5px 3px;
}

.offer-card-username {
  color: #999;
  font-size: 12px;
  margin-bottom: 5px;
}
.offer-card-picture img {
  display: flex;
  object-fit: cover;
  height: 360px;
  width: 230px;
  box-shadow: 5px 5px 10px -8px grey;
}

.offer-card-infos {
  padding: 8px;
  color: #999;
  font-size: 13px;
}

.offer-card-infos div:first-child {
  font-size: 14px;
  font-weight: bold;
  color: black;
}

/* OFFER */

.container {
  align-items: center;
  padding: 50px 20px;
  height: 100rem;
  width: auto;
  background-color: #ebedee;
}

.button-buy {
  background-color: #49afb7;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  margin: 20px 0;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
}

.button-buy:hover {
  transform: scale(0.98);
  box-shadow: 5px 5px 10px -8px grey;
}

.offer {
  display: flex;
  justify-content: space-around;
  height: 30%;

  margin-top: 120px;
}

.offer-text {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0 50px;
  box-sizing: border-box;
  border-radius: 10px;
  justify-content: center;
  box-shadow: 5px 5px 10px -8px grey;
  width: 40%;
}

.offer-text-price {
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0;
}

.offer-text-name {
  font-size: 16px;
  color: #999;
}

.offer-text-description {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #999;
  margin: 20px 0;
}

.offer-text-description > span {
  margin: 10px 0 0 0;
  display: flex;
  width: 100%;
}

.offer-text-description span {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 10px;
}

.offer-picture img {
  box-shadow: 5px 5px 10px -8px grey;
  object-fit: cover;
  height: 100%;
  border-radius: 10px;
  width: auto;
}

/* OFFER - Modal */

.offer-picture img:hover {
  transform: translate(20px);
  height: 120%;
}

/* SIGNUP */

.block-checkbox > p {
  font-size: 10px;
}

/* LOGIN */

.error-message {
  color: red;
  font-size: 9px;
}
.container-login,
.container-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.block-login,
.block-signup {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

.login-form,
.signup-form {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.login-form > input,
.signup-form > input {
  border: none;
  border: solid 1px #49afb7;
  height: 30px;
  margin-bottom: 10px;
  outline: none;
  font-size: 20px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 5px;
}

.login-form > input:focus,
.signup-form > input:focus {
  border: solid 2px lightgray;
}

.button-login,
.button-signup {
  background-color: #49afb7;
  font-weight: bold;
  border: 1px solid #49afb7;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.button-login:hover,
.button-signup:hover {
  background-color: white;
  color: #49afb7;
}

/* SIGNUP */

.link-signup {
  color: #49afb7;
  font-size: 12px;
  margin-top: 8px;
  text-decoration: none;
  font-weight: bold;
}

.container-input-password {
  display: flex;
  position: relative;

  align-items: center;
  justify-content: center;
  height: 30px;
}

.input-password {
  display: flex;
  position: relative;
  border: none;
  border: solid 1px #49afb7;
  height: 30px;
  width: 100%;
  outline: none;
  font-size: 20px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 5px;
}

.input-password:focus {
  border: solid 2px lightgray;
}

.reveal-password {
  position: absolute;
  right: 0;
  padding: 5px;
}

/* PAYEMENT  */

.payement {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #ebedee;
  margin-top: 90px;
}
.container-payement {
  padding: 20px;
  display: flex;
  height: auto;
  width: 500px;
  flex-direction: column;
  border-radius: 5px;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px -8px grey;
}
.order-detail {
  display: flex;
  flex-direction: column;
}
.order-detail > div {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.order-detail > div:last-child {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-top: 10px;
  font-weight: bold;
  color: #49afb7;
}

.checkoutform {
  margin: 10px 0;
}

.checkoutform button {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  background-color: #49afb7;
  border: none;
  margin-top: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.button-pay {
  background-color: #49afb7;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  margin: 20px 0;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.button-pay:hover {
  transform: scale(0.98);
  box-shadow: 5px 5px 10px -8px grey;
}

.text-pay {
  margin: 20px 0;
  font-size: 14px;
  text-align: justify;
}

.text-pay > span {
  font-weight: bold;
}

.checkoutform-validate {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  justify-content: center;
  color: #49afb7;
}

/* TOGGLE */

.toggle .react-toggle-track {
  background-color: #49afb7;
}
.toggle.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #49afb7;
}
.toggle.react-toggle--checked .react-toggle-track {
  background-color: #49afb7;
}
.toggle.react-toggle--checked:hover:not(.react-toggle--disabled)
  .react-toggle-track {
  background-color: #49afb7;
}

/* SEARCH */

.icon-loop {
  color: #bbbbbb;
}

/* PUBLISH */

.publish-form h2 {
  margin-top: 40px;
  font-weight: normal;
}
.container-publish {
  background-color: #ebedee;
  padding-bottom: 50px;
}

.publish-form {
  width: 1000px;
  margin: 0 auto;
  margin-top: 120px;
}

.publish-file-select {
  background-color: #fff;
  padding: 30px;
  margin: 5px 0 20px 0;
  box-shadow: 5px 5px 10px -8px grey;
  border-radius: 10px;
  height: 200px;
}

.publish-preview {
  border: 1px dashed #ebedee;
  border-radius: 3px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  border: 2px solid #49afb7;
  border-radius: 5px;
  padding: 15px;
  font-size: 20px;
  display: inline-block;
  color: #49afb7;
  font-weight: bold;
  cursor: pointer;
}

.dashed-preview-image {
  display: flex;
  width: 230px;
  height: 200px;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  margin: 5px 0 20px 0;
}

.preview-image {
  width: 200px;
  height: 200px;
  box-shadow: 5px 5px 10px -8px grey;
  border-radius: 10px;
  object-fit: cover;
  box-sizing: border-box;
}

.remove-img-button {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #49afb7;
  box-sizing: border-box;
  cursor: pointer;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
}

.remove-img-button:hover {
  background-color: #fff;
  border: 1px solid #49afb7;
  cursor: pointer;
  color: #49afb7;
}
.article {
  display: flex;
  flex-direction: column;
}
.article-descritption,
.article-details,
.article-price {
  background-color: #fff;
  margin: 20px 0;
  box-shadow: 5px 5px 10px -8px grey;
  border-radius: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 15px;
  box-sizing: border-box;
}

.article-title-descritption {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid #ebedee;
}

.publish-form input {
  border-radius: 5px;
  padding: 3px 6px;
  margin: 0 3px 5px 0;
  border: none;
  font-size: 15px;
  width: 400px;
  text-overflow: ellipsis;
}

.article-button {
  display: flex;
  justify-content: flex-end;
}

.add-btn {
  background-color: #49afb7;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  margin: 20px 0;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid #49afb7;
}

.add-btn:hover {
  background-color: #fff;
  color: #49afb7;
  border: 1px solid #49afb7;
}

.add-btn:active {
  transform: scale(0.98);
  box-shadow: 5px 5px 10px -8px grey;
}

textarea[type="textarea"] {
  width: 41.8%;
  height: 100px;
  resize: none;
  border: none;
  border-bottom: 0.1rem solid #ebedee;
  outline: none;
  font-size: 15px;
  font-family: inherit;
  color: #000;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
  .filters {
    display: none;
  }
  .button-connexion {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .button-green {
    background-color: white;
    font-weight: bold;
    border: 1px solid #49afb7;
    color: #49afb7;
    border-radius: 5px;
    padding: 6px;
    margin-left: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    width: 100px;
    font-size: 11px;
  }

  .header {
    min-height: 90px;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid white;
    position: fixed;
    background-color: white;
    top: 0;
    max-width: 768px;
    width: 100%;
    z-index: 10;
  }
  .offer-picture img {
    box-shadow: 5px 5px 10px -8px grey;
    object-fit: cover;
    height: 60%;
    border-radius: 10px;
    width: 180px;
  }
}

@media only screen and (max-width: 1024px) {
  .filters {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .input-search > input {
    width: 300px;
    height: 30px;
    background-color: #f5f6f7;
    border: none;
    border-radius: 10px;
    outline: none;
    padding-left: 40px;
  }
  .icon-loop {
    width: 20px;
    position: absolute;
    top: 9px;
    left: 7px;
  }

  .header {
    min-height: 90px;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid white;
    position: fixed;
    background-color: white;
    top: 0;
    max-width: 1024px;
    width: 100%;
    z-index: 10;
  }
  .filter-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 10px;
    justify-content: space-around;
    width: 280px;
  }

  .button-green {
    background-color: white;
    font-weight: bold;
    border: 1px solid #49afb7;
    color: #49afb7;
    border-radius: 5px;
    padding: 6px;
    margin-left: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    width: auto;
    font-size: 11px;
  }
}
